{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <style>
        .posts{
            border-radius: 10px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, .25);
            margin-bottom: 40;
            margin-top: 40px;
            padding: 40px;
        }
        img{
            border-radius: 10px;
        }
    </style>
    <section class="posts">
        <article>
            <h2>Defining Success</h2>
            <div class="metadat">
                2022-06-29 at 8:00 by Minh
                <button type="button" class="btn btn-success">Success</button>
                5 comments
            </div>
            <div class="content">
                <img src="https://images.yourstory.com/cs/wordpress/2017/06/106_5-tips-to-hustle-your-way-to-success.jpg?fm=auto&ar=2:1&mode=crop&crop=faces&w=720" alt="" class="mt-3 mb-3">
                <p>It's a very simple formula. If you work harder than you normally do and push yourself a little bit more, you'll be closer to achieving the success you dream about all day, every day. Several hungry and driven professionals believe in 'hustling harder' towards their goals. They believe that if they hustle hard enough, they will be able to accelerate their journey to success. Here are five simple ways to hustle hard and improve your grind....</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </section>
{% endblock %}
