{% extends 'base.html.twig' %}

{% block title %}Post Show{% endblock %}

{% block body %}
    <section class="posts">
        <article>
            <h2>Defining Success</h2>
            <div class="metadat">
                2022-06-29 at 8:00 by Minh
                <button type="button" class="btn btn-success">Success</button>
                5 comments
            </div>
            <div class="content">
                <img src="https://www.voicesofyouth.org/sites/voy/files/images/2020-07/success.jpg" alt="" class="mt-3 mb-3">
                <p>Quarantine has given me time to introspect. I thought I could work on myself and practice mindfulness. But stuck inside your home contemplating can be quite overwhelming...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </section>

    <h2>5 Comments</h2>
    <section>
        <div class="card-header">
            Duong <small>2022-06-29 10:23</small>
        </div>
        <div class="card-body">
            <p>nice post give me motivation</p>
        </div>
    </section>

{% endblock %}